body,
.text-body {
  font-size: 1.6rem;
  line-height: 1.5;

  font-weight: normal;
  font-style: normal;
  letter-spacing: .01em;
  word-spacing: -.05em;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  /* stylelint-disable-next-line */
  font-smoothing: antialiased;
}
