@import './css/reset.css';
@import './css/vars.css';
@import './css/typography.css';
@import './css/site-header.css';
@import './css/speaker-tile.css';

body {
  height: 100%;
}

html {
  height: 100%;
}

.navigatie {
  background-image: url(./assets/img/nav-big.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 40rem;
}

.navigatie-txt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 10rem;
  margin-right: 10rem;

  text-transform: uppercase;
  font-size: 2.5rem;
  color: white;
  padding-top: 2rem;
  font-family: 'Abrade Heavy';
}

.header {
  margin-top: -10rem;
  background-image: url(./assets/img/beige-big.png);

  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 40rem;
}

.social {
}

.hide {
  display: none;
}

.titel-isb {
  grid-area: titel;
}
